
.form-control:valid {background:#006600;color:#fff }
.form-control:invalid {background:#990000; color:#fff}

.itemCarroussel p{
	text-overflow: ellipsis;
	width: 100%; 
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
}

.carousel-caption p{
	text-overflow: ellipsis;
	width: 100%; 
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;	
}

.item-carrossel{
	overflow: hidden;
	height: 450px; 
}
.itemCarroussel.ative{
	
}

.tab-content{
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
}


@media (max-width: 768px){
	#itensLateraisCarrossel{
		display: none;
	}
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
     -ms-touch-action: none;
    touch-action: none;
}

.checkbox-iten:HOVER{
	cursor:pointer;	
}
.checkbox-iten{
	min-width: 40px;
	display:inline-block;
	margin-top:20px; 
}
.gostar{
	 width: 20px;
	 text-align: center;
	 display: inline-block; 
	 vertical-align: top;
}
.gostar:hover{
	 cursor: pointer;
}

td.padrao:hover{
	 cursor: not-allowed;
}

td.editavel:hover{
	  cursor: pointer;
	  color:blue;
}

td.editavel{
	  text-transform: capitalize;
}
td.padrao{
	  text-transform: capitalize;
}

.uploadarea:hover{
	cursor: pointer;
}

.ajuda:hover{
	cursor: help;
}

.zoominImagem:hover{
	cursor:zoom-in;
}

.carregando:hover, #carregandoInicial:hover, #pleaseWaitDialog:hover{
	NO___cur_sor:progress;
	cursor:wait;
}



.dropdown-menu .divider {
    border-bottom: 1px solid #C3C3C3;
}

div > #jform_email1, div > #jform_email2, div > #jform_email1-lbl, div > #jform_email2-lbl{
	display: none;
}