.itemCarroussel p{
	text-overflow: ellipsis;
	width: 100%; 
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;
}

.carousel-caption p{
	text-overflow: ellipsis;
	width: 100%; 
	white-space: nowrap;
	overflow: hidden;
	direction: ltr;	
}

.item-carrossel{
	overflow: hidden;
	height: 450px; 
}
.itemCarroussel.ative{
	
}

.tab-content{
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
}


@media (max-width: 768px){
	#itensLateraisCarrossel{
		display: none;
	}
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}