.validate-numeric{
	text-align: right;
}
.validate-inteiro{
	text-align: right;
}



input[type=\'file\']{ 	
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity = 0);
	position: absolute;
	z-index: -1; 
}

#ifoto_inteira:hover, #ifoto_inteira_horizontal, #ifoto_perfil:hover , #ifoto_perfil:hover, img.imagemChange:hover{
    cursor: pointer;
}